@import "tailwindcss";
html {
  scroll-padding-top: 100px; /* navbar height */
}
/* Hiding scrollbar but keeping scroll functionality */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}
